---
import Presentation from "../../components/Presentation.astro";
import Divider from "../../components/ui/Divider.astro";
import ListItem from "../../components/ui/ListItem.astro";
import Layout from "../../layouts/Layout.astro";
import { Code } from "astro-expressive-code/components";

// Code Snippets
let figure1 = `Console.WriteLine("Hello World!");`;
let task1 = `Console.WriteLine("Welcome to the Skynest Nexus.");
Console.WriteLine("This class is taught by Mr. Mortimer");
Console.WriteLine();
// Stop and run your code
`;
let task2 = `
Console.WriteLine("Welcome to the Skynest Nexus.");
Console.WriteLine("This class is taught by Mr. Mortimer");
Console.WriteLine();

Console.WriteLine("What is the answer to life, the universe, and everything?");
Console.WriteLine("The answer is 42.");
Console.WriteLine();

Console.WriteLine("Sally sells seashells by the seashore.");
Console.WriteLine("Sally wants to invite you to invest in a money making opportunity.");
Console.WriteLine();

Console.WriteLine("If you start to feel overwhelmed, just remember:");
Console.WriteLine("Mortimers don't quit, we get fired!");
// Stop and run your code
`;
---

<Layout>
  <div class="container my-4">
    <!-- Introduction -->
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-10">
        <a href="/csharp-programming/" class="btn btn-sm btn-outline-light mb-3">
          <i class="si-arrow-left"></i> Back
        </a>

        <h1>Activity 1.1 Hello World!</h1>
        <Divider variant="8" classes="mb-4" />

        <!-- Introduction -->
        <h2>Introduction</h2>
        <Presentation>
          <section>
            <h3>Activity 1.1</h3>
            <h4 class="text-skynest-theme">Hello World!</h4>
          </section>
          <section>
            <h4>Topics</h4>
            <ul>
              <li>Output</li>
              <li>Console Output</li>
              <li>Comments</li>
            </ul>
          </section>
          <section>
            <h4>Output</h4>
          </section>
          <section>
            <h4>Demo</h4>
            <p>
              Call <code>Console.WriteLine()</code>. Write a message of your
              choice.
            </p>
            <div class="text-start">
              <Code
                lang="csharp"
                frame="code"
                title="Program.cs"
                showLineNumbers
                code={figure1}
              />
              <Code
                class="fragment my-2"
                code={"Hello World!"}
                frame="terminal"
                showLineNumbers={false}
                title="Output"
              />
            </div>
          </section>
        </Presentation>

        <h3>Objectives</h3>
        <ul>
          <ListItem variant="1">Writing and executing code</ListItem>
          <ListItem variant="1">Displaying console output</ListItem>
          <ListItem variant="1">Debugging potential syntax errors</ListItem>
          <ListItem variant="1">Reading comments</ListItem>
        </ul>

        <Divider variant="8" classes="mb-4" />

        <!-- Activity Tasks -->
        <h2>Activity Tasks</h2>
        <ul>
          <ListItem variant="2">
            Create a new C# project named <span class="text-skynest-theme"
              >1-1-Output</span
            >.
          </ListItem>
          <ListItem variant="2"> Complete each task individually. </ListItem>
        </ul>

        <!-- Task 1 -->
        <h3><span class="text-skynest-theme">Task 1</span>: Write and Test</h3>
        <ul>
          <ListItem variant="2">
            Write each line of code from the section making sure to stay within
            the main method.
          </ListItem>
          <ListItem variant="2">
            Run and test your project to ensure it executes as intended.
          </ListItem>
        </ul>
        <Code
          code={task1}
          frame="code"
          lang="csharp"
          showLineNumbers
          title="Program.cs"
        />

        <hr class="my-4" />

        <!-- Task 2 -->
        <h3>
          <span class="text-skynest-theme">Task 2</span>: Add More Code
        </h3>
        <ul>
          <ListItem variant="2">
            Write the additional sections of output under your current print
            statements.
          </ListItem>
          <ListItem variant="2">
            Run and test your project to ensure it executes as intended.
          </ListItem>
        </ul>
        <Code
          code={task2}
          frame="code"
          lang="csharp"
          ins={{ range: "5-14" }}
          showLineNumbers
          title="Program.cs"
        />

        <hr class="my-4" />

        <!-- Task 3 -->
        <h3>
          <span class="text-skynest-theme">Task 3</span>: Add Space
        </h3>
        <ul>
          <ListItem variant="2">
            Add an additional blank print statement at the end of each section
            to increase the spacing between the sections.
          </ListItem>
          <ListItem variant="2">
            Run and test your project to ensure it executes as intended.
          </ListItem>
        </ul>

        <hr class="my-4" />

        <!-- Task 4 -->
        <h3>
          <span class="text-skynest-theme">Task 4</span>: Write a Custom Section
        </h3>
        <ul>
          <ListItem variant="2">
            Output a three-line paragraph of your choice somewhere in the
            program. Keep it school appropriate.
          </ListItem>
          <ListItem variant="2">
            Run and test your project to ensure it executes as intended.
          </ListItem>
        </ul>

        <hr class="my-4" />

        <!-- Task 5 -->
        <h3>
          <span class="text-skynest-theme">Task 5</span>: Write Comments
        </h3>
        <ul>
          <ListItem variant="2">
            Write the following comments to document and modify the code.
            <ul>
              <ListItem variant="3">
                Disable the line of code that displays the message 'The answer
                is 42.' by placing a single-line comment at the beginning of the
                line.
              </ListItem>
              <ListItem variant="3">
                Write a comment at the end of a blank print statement that
                states 'Displays a blank line'.
              </ListItem>
            </ul>
          </ListItem>
          <ListItem variant="2">
            Run and test your project to ensure it executes as intended.
          </ListItem>
        </ul>
        <!-- End Activity Tasks -->

        <Divider variant="8" classes="my-4" />

        <h2>Reflection Questions</h2>

        <ol>
          <li>
            What is the primary function of Console.WriteLine()? How does it
            relate to the idea of a program "speaking" to a user?
          </li>
          <li>
            Imagine you typed <span
              class="text-skynest-red text-decoration-underline">Cosnol</span
            >.WriteLine() by mistake. What do you think would happen when you
            try to run your program? Why is correct spelling so important in
            programming?
          </li>
          <li>
            What was the most challenging part of writing your first line of
            code?
          </li>
        </ol>

        <Divider variant="8" classes="my-4" />

        <h2>Submission</h2>

        <p>
          Submit your activity and reflection answers to the appropriate
          dropbox.
        </p>

        <h1 class="text-center mt-5 text-skynest-theme border border-primary">
          Activity Complete
        </h1>
      </div>
    </div>
  </div>
</Layout>
