---
import Presentation from "../../components/Presentation.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-10">
        <a
          href="/csharp-programming/"
          class="btn btn-sm btn-outline-light mb-3"
        >
          ← Back
        </a>

        <h1>Computer Science and Programming</h1>
        <hr />

        <div class="row justify-content-center">
          <div class="col-sm-12 col-md-10">
            <Presentation>
              <section data-transition="slide">
                <h2>Introduction to Computer Science</h2>
              </section>
              <section data-transition="slide">
                <p>
                  <span class="text-skynest-cyan">Computer science</span> is the
                  study of how computers work, how they process information, and
                  how we can harness them to solve complex problems.
                </p>
              </section>
            </Presentation>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
