---
import Layout from "../../layouts/Layout.astro";

import PythonIcon from "../../assets/courses/python-programming/img/python-icon.svg";
---

<Layout>
    <div class="mb-3 bg-skynest-darker bottom-shadow">
    <div class="p-5">
      <a href="/" class="btn btn-sm btn-outline-light"
        ><i class="si-arrow-left"></i> Back</a
      >
    </div>
    <div class="container pb-5">
      <div class="text-center">
        <h1>Python Programming for STEM</h1>
        <PythonIcon width={128} />
      </div>
    </div>
  </div>

    <div class="container">
        <h3>Module 1 - Programming Basics</h3>
        <p><a href="./1-1">1.1 Fundamental Programming Operations</a></p>
        
    </div>
</Layout>
