---
import Layout from "../../layouts/Layout.astro";
import Divider from "../../components/ui/Divider.astro";
import ColorPicker1Bit from "../../components/interactives/ColorPicker1Bit.svelte";
import ColorPickerBinary from "../../components/interactives/ColorPickerBinary.svelte";
import ColorPicker from "../../components/interactives/ColorPicker.svelte";
---

<Layout>
  <div class="container mt-4">
    <a href="/computer-organization/" class="btn btn-sm btn-outline-light">
      ← Back
    </a>
    <h2 class="text-center mt-5 text-theme">
      Activity 1.11 Color Representation
    </h2>
    <Divider variant="3" classes="my-4" />
    <div class="row">
      <div class="col">
        <h3>
          <span style="color: #F00;">R</span><span style="color: #0F0;">G</span
          ><span style="color: #00F;">B</span> Color Picker
        </h3>
        <ColorPicker client:visible />
      </div>
    </div>
    <Divider variant="8" classes="my-5" />
    <div class="row mb-5">
      <div class="col">
        <h3>
          1-bit (<span class="text-theme">Monochrome</span>) Color Depth
        </h3>
        <p><i>2<sup>1</sup> = 2</i> possible combinations</p>
        <ColorPicker1Bit client:visible />
      </div>
    </div>
    <Divider variant="8" classes="my-5" />
    <div class="row mb-5">
      <div class="col">
        <h3>
          8-bit (<span class="text-theme">256-color mode</span>) Color
          Depth
        </h3>
        <p><i>2<sup>8</sup> = 256</i> possible combinations</p>
        <ColorPickerBinary bitDepth="8" client:visible />
      </div>
    </div>
    <Divider variant="8" classes="my-5" />
    <div class="row mb-5">
      <div class="col">
        <h3>
          16-bit (<span class="text-theme">High Color</span>) Color
          Depth
        </h3>
        <p><i>2<sup>16</sup> = 65,536</i> possible combinations</p>
        <ColorPickerBinary bitDepth="16" client:visible />
      </div>
    </div>
    <Divider variant="8" classes="my-5" />
    <div class="row mb-5">
      <div class="col">
        <h3>
          24-bit (<span class="text-theme">True Color</span>) Color
          Depth
        </h3>
        <p><i>2<sup>24</sup> = 16,777,216</i> possible combinations</p>
        <ColorPickerBinary bitDepth="24" client:visible />
      </div>
    </div>
  </div>
</Layout>
