---
import Layout from "../../layouts/Layout.astro";
import ListItem from "../../components/ui/ListItem.astro";

import ComputerOrganizationIcon from "../../assets/courses/computer-organization/img/computer-organization-icon.svg";
---

<Layout>
  <div class="mb-3 bg-skynest-darker">
    <div class="p-5">
      <a href="/" class="btn btn-sm btn-outline-light"><i class="si-arrow-left"></i> Back</a>
    </div>
    <div class="container pb-5">
      <div class="text-center">
        <h1>Computer Organization</h1>
        <ComputerOrganizationIcon width={128} />
      </div>
    </div>
  </div>
  <div class="container">
    <h3>Number Systems</h3>
    <ul>
      <ListItem>
        <a href="1-1-bin-dec-practice-1">1.1 Binary to Decimal Practice 1</a>
      </ListItem>
      <ListItem>
        <a href="1-2-bin-dec-practice-2">1.2 Binary to Decimal Practice 2</a>
      </ListItem>
      <ListItem>
        <a href="1-3-bin-dec-practice-3">1.3 Binary to Decimal Practice 3</a>
      </ListItem>
      <ListItem>
        <a href="1-4-dec-bin-practice-1">1.4 Decimal to Binary Practice 1</a>
      </ListItem>
      <ListItem>
        <a href="1-5-dec-bin-practice-2">1.5 Decimal to Binary Practice 2</a>
      </ListItem>
      <ListItem>
        <a href="1-6-dec-bin-practice-3">1.6 Decimal to Binary Practice 3</a>
      </ListItem>
      <ListItem>
        <a href="1-7-hex-bin-practice-1">1.7 Hex to Binary Practice 1</a>
      </ListItem>
      <ListItem>
        <a href="1-8-hex-bin-practice-2">1.8 Hex to Binary Practice 2</a>
      </ListItem>
      <ListItem>
        <a href="1-9-bin-hex-practice">1.9 Binary to Hex Practice</a>
      </ListItem>
      <ListItem>
        <a href="1-10-text-representation">1.10 Text Representation</a>
      </ListItem>
      <ListItem>
        <a href="1-11-color-representation">1.11 Color Representation</a>
      </ListItem>
      <ListItem>
        <a href="1-12-counting-numbers">1.12 Counting Numbers</a>
      </ListItem>
    </ul>
  </div>
</Layout>
