:root, [data-bs-theme=dark] {
  /* Base */
  --bs-body-bg: var(--skynest-dark);
  --bs-body-font-family: var(--font-jetbrains-mono);
  --bs-heading-font-family: var(--font-orbitron);
  --skynest-dark: rgb(27, 23, 40);
  --skynest-darker: rgb(5, 0, 20);

  /* Ed's */
  --eds-green: rgb(10, 100, 80);
  --eds-gold: rgb(255, 210, 40);

  /* Primary theme */
  --skynest-cyan: rgb(27, 212, 215);
  --skynest-cyan-rgb: 27, 212, 215;
  --skynest-cyan-lighten: rgb(70, 230, 230);
  --skynest-cyan-darken: rgb(15, 170, 175);

  /* Red theme */
  --skynest-red: rgb(254, 1, 85);
  --skynest-red-rgb: 254, 1, 85;
  --skynest-red-lighten: rgb(255, 60, 120);
  --skynest-red-darken: rgb(200, 0, 60);

  /* Green theme */
  --skynest-green: rgb(0, 255, 0);
  --skynest-green-rgb: 0, 255, 0;
  --skynest-green-lighten: rgb(60, 255, 60);
  --skynest-green-darken: rgb(0, 200, 0);

  /* Blue theme */
  --skynest-blue: rgb(0, 0, 255);
  --skynest-blue-rgb: 0, 0, 255;
  --skynest-blue-lighten: rgb(60, 60, 255);
  --skynest-blue-darken: rgb(0, 0, 200);

  /* Purple theme */
  --skynest-purple: rgb(220, 0, 220);
  --skynest-purple-rgb: 220, 0, 220;
  --skynest-purple-lighten: rgb(235, 60, 235);
  --skynest-purple-darken: rgb(170, 0, 170);

  /* Orange theme */
  --skynest-orange: rgb(255, 100, 0);
  --skynest-orange-rgb: 255, 100, 0;
  --skynest-orange-lighten: rgb(255, 150, 60);
  --skynest-orange-darken: rgb(200, 80, 0);

  /* Yellow theme */
  --skynest-yellow: rgb(255, 255, 0);
  --skynest-yellow-rgb: 255, 255, 0;
  --skynest-yellow-lighten: rgb(255, 255, 100);
  --skynest-yellow-darken: rgb(200, 200, 0);

  /* Current theme */
  --color-theme: var(--skynest-cyan);
  --color-theme-rgb: var(--skynest-cyan-rgb);
  --color-theme-lighten: var(--skynest-cyan-lighten);
  --color-theme-darken: var(--skynest-cyan-darken);
}

.bg-skynest-dark {
  background-color: var(--skynest-dark);
}

.bg-skynest-darker {
  background-color: var(--skynest-darker);
}

.bg-skynest-theme {
  background-color: var(--color-theme) !important;
}

.text-skynest-theme {
  color: var(--color-theme) !important;
}

.text-skynest-cyan {
  color: var(--skynest-cyan) !important;
}

.text-skynest-red {
  color: var(--skynest-red) !important;
}

.text-skynest-green {
  color: var(--skynest-green) !important;
}

.text-skynest-blue {
  color: var(--skynest-blue) !important;
}

.text-skynest-purple {
  color: var(--skynest-purple) !important;
}

.text-skynest-orange {
  color: var(--skynest-orange) !important;
}

.text-skynest-yellow {
  color: var(--skynest-yellow) !important;
}

.text-eds-green {
  color: var(--eds-green) !important;
}

.text-eds-gold {
  color: var(--eds-gold) !important;
}
