/* Accordion */
.accordion {
  --bs-accordion-border-radius: 0;
}

.accordion-button:not(.collapsed) {
  background-color: var(--color-theme-darken);
  color: white;
}

/* Buttons */
.btn {
  font-family: var(--font-orbitron);
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-primary {
  --bs-btn-color: #000;
  --bs-btn-bg: var(--color-theme);
  --bs-btn-border-color: var(--color-theme);
  --bs-btn-hover-color: var(--bs-light);
  --bs-btn-hover-bg: var(--color-theme);
  --bs-btn-hover-border-color: var(--color-theme);
  --bs-btn-focus-shadow-rgb: var(--color-theme-rgb);
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: var(--color-theme);
  --bs-btn-active-border-color: var(--color-theme);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--color-theme);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--color-theme);

  &:hover {
    box-shadow: 2px 2px 10px var(--color-theme);
  }

  &:active {
    box-shadow: none;
  }
}

.btn-light {
  --bs-btn-color: #000;
  --bs-btn-bg: var(--bs-light);
  --bs-btn-border-color: var(--bs-light);
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: var(--bs-light);
  --bs-btn-hover-border-color: var(--bs-light);
  --bs-btn-focus-shadow-rgb: 255, 255, 255;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: var(--bs-light);
  --bs-btn-active-border-color: var(--bs-light);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--bs-light);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--bs-light);

  &:hover {
    box-shadow: 2px 2px 10px var(--bs-light);
  }

  &:active {
    box-shadow: none;
  }
}

.btn-outline-primary {
  --bs-btn-color: var(--bs-light);
  --bs-btn-bg: var(--skynest-darker);
  --bs-btn-border-color: var(--color-theme);
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: var(--color-theme);
  --bs-btn-hover-border-color: var(--color-theme);
  --bs-btn-focus-shadow-rgb: var(--color-theme-rgb);
  --bs-btn-active-color: var(--bs-light);
  --bs-btn-active-bg: var(--skynest-darker);
  --bs-btn-active-border-color: var(--color-theme);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--color-theme);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--color-theme);

  &:hover {
    box-shadow: 2px 2px 10px var(--color-theme);
  }

  &:active {
    box-shadow: none;
  }
}

.btn-outline-light {
  --bs-btn-color: var(--bs-light);
  --bs-btn-bg: var(--skynest-darker);
  --bs-btn-border-color: var(--bs-light);
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: var(--bs-light);
  --bs-btn-hover-border-color: var(--bs-light);
  --bs-btn-focus-shadow-rgb: 255, 255, 255;
  --bs-btn-active-color: var(--bs-light);
  --bs-btn-active-bg: var(--skynest-darker);
  --bs-btn-active-border-color: var(--bs-light);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--bs-light);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--bs-light);

  &:hover {
    box-shadow: 2px 2px 10px var(--bs-light);
  }

  &:active {
    box-shadow: none;
  }
}
/* End Buttons */