@font-face {
  font-family: "Terminator";
  src: url("../assets/fonts/terminator.ttf");
}

:root, [data-bs-theme=dark] {
  --bs-body-font-family: var(--font-jetbrains-mono);
  --bs-heading-font-family: var(--font-orbitron);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--bs-heading-font-family);
  text-transform: uppercase;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: var(--color-theme);

  &:hover {
    color: var(--color-theme-lighten);
  }
}

code {
  font-size: 1.1rem;
}

div.code {
  font-size: 1.25rem !important;
}

.font-orbitron {
  font-family: var(--bs-heading-font-family);
}

.font-terminator {
  font-family: "Terminator";
  text-transform: uppercase;
}