@import "bootstrap/dist/css/bootstrap.css";
@import "./_color.css";
@import "./_typography.css";
@import "./_forms.css";
@import "./_components.css";

.animation-overlay {
  position: relative;
  z-index: 1;
}

/* Bootstrap - Reveal.js transition fix */
[hidden] {
  display: inherit !important;
}