@import "bootstrap/dist/css/bootstrap.css";
@import "./_animations.css";
@import "./_color.css";
@import "./_typography.css";
@import "./_forms.css";
@import "./_components.css";
@import "siimple-icons/siimple-icons.css";

/* Reveal.js transitions */
.fragment.remove {
  height: 0%;
}

.fragment.remove.visible {
  height: 100%;
}

.animation-overlay {
  position: relative;
  z-index: 1;
}

.slow-flash {
  animation: slow-flash 2s ease-out infinite;
}

/* Bootstrap - Reveal.js transition fix */
[hidden] {
  display: inherit !important;
}