---
import Layout from "../../layouts/Layout.astro";
import RGBColorPicker from "../../components/interactives/ColorPicker.svelte";

import colorPickerImage from "../../assets/img/utilities/rgb-icon.png";
import { Image } from "astro:assets";
import Divider from "../../components/ui/Divider.astro";
---

<Layout>
  <div class="container">
    <div class="row justify-content-center align-items-center mt-5">
      <div class="col-auto">
        <Image src={colorPickerImage} alt="RGB Icon" class="title-icon" />
      </div>
      <div class="col-auto">
        <h1 class="text-center display-5">RGB Color Picker</h1>
      </div>
      <div class="col-sm-12 col-md-10 my-3">
        <Divider variant="2" />
      </div>
    </div>
    <div class="row mb-5">
      <div class="col">
        <RGBColorPicker client:load />
      </div>
    </div>
  </div>
</Layout>

<style>
  .title-icon {
    max-width: 7.5rem;
    max-height: 7.5rem;
  }
</style>
