---
import Layout from "../../layouts/Layout.astro";

import { Content as SampleOutput } from "../../markdown/code-challenges/1-1-sample-output.md";
---

<Layout>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-8 mb-5">
        <a href="/code-challenges/" class="btn btn-sm btn-outline-light mb-3">
          ← Back
        </a>

        <h2 class="text-theme">Code Challenge 1.1 - Chain Letter</h2>

        <hr />

        <h3>Objective</h3>

        <p>Create a console application the displays a chain letter message.</p>

        <p>
          A classic form of spam in the early days of the internet are known as
          chain letters. A chain letter involves a story and command to send the
          letter to a number of contacts. See the sample output below for an
          example.
        </p>

        <h4>Skills to Practice</h4>

        <ul>
          <li>Creating and running a program</li>
          <li>Displaying console output</li>
          <li>Submitting a program for credit</li>
        </ul>

        <hr />

        <h3>Challenge Tasks</h3>

        <ol>
          <li>
            Create a console application named <strong
              >ChainLetter-LastName (ex. ChainLetter-Mortimer)</strong
            >
          </li>
          <li>
            Complete the following tasks:
            <ul>
              <li>Write a fun, school-appropriate chain letter story.</li>
              <li>
                Your program should display at least 5 lines of output to
                receive full credit.
              </li>
            </ul>
          </li>
        </ol>

        <h4>Sample Output</h4>

        <SampleOutput />
      </div>
    </div>
  </div>
</Layout>
