---
import Divider from "../../components/ui/Divider.astro";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";

import { Content as SampleOutput } from "../../markdown/code-challenges/1-2-sample-output.md";
import MadLibImage from "../../assets/courses/code-challenges/img/mad-lib-sample.jpg";
---

<Layout>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-8 mb-5">
        <a href="/code-challenges/" class="btn btn-sm btn-outline-light mb-3">
          <i class="si-arrow-left"></i> Back
        </a>

        <h2 class="text-skynest-theme">Code Challenge 1.2 - Mad Lib</h2>

        <Divider variant="8" />

        <h3>Objective</h3>

        <p>Create an interactive mad lib game.</p>

        <p>
          A mad lib is a fun and interactive word game where the player provides
          various words—such as nouns, foods, places, verbs, and adjectives.
          These words are then inserted into a pre-written story to create a
          humorous and often nonsensical tale. Try a mad lib <a
            href="http://www.madtakes.com/libs/176.html"
            target="_blank">Try a mad lib here</a
          > if you've never played one before.
        </p>

        <h4>Skills to Practice</h4>

        <ul>
          <li>Prompting a user for input</li>
          <li>Saving user input to variables</li>
          <li>Formatting custom output using variables</li>
        </ul>

        <Divider variant="8" />

        <h3>Challenge Tasks</h3>

        <ol>
          <li>
            Create a console application named <strong
              >MadLib-LastName</strong
            >
          </li>
          <li>
            Complete the following tasks:
            <ul>
              <li>Display a story title at the beginning of your program.</li>
              <li>
                Prompt the user to enter various kinds of words (e.g., noun,
                ver, adjective, etc.).
              </li>
              <li>Your program must have a minimum of 5 inputs.</li>
              <li>
                Inser the user-provided words into a pre-written story template.
              </li>
              <li>
                Display the completed story to the user in a fun and readable
                format.
              </li>
            </ul>
          </li>
        </ol>

        <p>
          In short, when the user plays the game, they should be able to enter
          some values and see their custom story.
        </p>

        <h4>Sample Output</h4>

        <SampleOutput />

        <Image
          src={MadLibImage}
          alt="Mad Lib Image"
          class="d-block img-fluid text-center w-50 mx-auto my-3"
        />
      </div>
    </div>
  </div>
</Layout>
