---
import { Code } from "astro-expressive-code/components";
import Divider from "../../components/ui/Divider.astro";
import Layout from "../../layouts/Layout.astro";
import ListItem from "../../components/ui/ListItem.astro";

//#region CodeSnippets
const SampleOutput = `
--- Miles to Kilometers Calculator ---
Enter the distance in miles: 12.5 [Enter]
12.5 miles is equal to 20.11 kilometers
`;
//#endregion
---

<Layout>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-10 mb-5">
        <section id="header">
          <a href="/code-challenges/" class="btn btn-sm btn-outline-light mb-3">
            <i class="si-arrow-left"></i> Back
          </a>

          <h2>Challenge 1.2 Miles to Kilometers Calculator</h2>
        </section>

        <Divider variant="8" />

        <section id="objective">
          <h3>Objective</h3>

          <p>
            Create a console application that converts a distance from miles to
            kilometers based on user input.
          </p>

          <h4>Skills to Practice</h4>

          <ul>
            <ListItem>Prompting a user for input</ListItem>
            <ListItem>Saving user input to variables</ListItem>
            <ListItem
              >Converting input to the correct data type (if necessary)</ListItem
            >
            <ListItem>Performing arithmetic calculations</ListItem>
            <ListItem>Formatting custom output using variables</ListItem>
          </ul>
        </section>

        <Divider variant="8" />

        <section id="tasks">
          <h3>Tasks</h3>
          <ul>
            <ListItem
              >Create a new project named <span class="text-skynest-theme"
                >mitokm-lastname</span
              >.</ListItem
            >
            <ListItem>
              Complete the following tasks:
              <ul>
                <ListItem variant="2"
                  >Prompt the user to enter a distance in miles.</ListItem
                >
                <ListItem variant="2">
                  Convert the miles value from the user to the equivalent value
                  in Kilometers.
                </ListItem>
                <ListItem variant="2">
                  Formula: <strong class="text-skynest-cyan"
                    >Km = Mi &times; 1.609</strong
                  >
                </ListItem>
                <ListItem variant="2"
                  >Optionally, round the answer to two decimal places.</ListItem
                >
                <ListItem variant="2">
                  Display the calculated Kilometers value to the user in a clear
                  and formatted manner.
                </ListItem>
              </ul>
            </ListItem>
          </ul>
        </section>

        <section id="sample-output">
          <h3>Sample Output</h3>
          <Code
            code={SampleOutput}
            frame="terminal"
            title="Sample Output"
            lang="txt"
          />
        </section>

        <h1
          class="text-center mt-5 text-skynest-theme border border-primary slow-flash"
        >
          Begin Challenge
        </h1>
      </div>
    </div>
  </div>
</Layout>
