---
import Layout from "../../layouts/Layout.astro";

import { Content as SampleOutput } from "../../markdown/code-challenges/1-3-sample-output.md";
---

<Layout>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-8 mb-5">
        <a href="/code-challenges/" class="btn btn-sm btn-outline-light mb-3">
          <i class="si-arrow-left"></i> Back
        </a>

        <h2 class="text-skynest-theme">
          Code Challenge 1.3 - Miles to Kilometers Calculator
        </h2>

        <hr />

        <h3>Objective</h3>

        <p>
          Create a console application that converts a distance from miles to
          kilometers based on user input.
        </p>

        <h4>Skills to Practice</h4>

        <ul>
          <li>Prompting a user for input</li>
          <li>Saving user input to variables</li>
          <li>Converting input to the correct data type (if necessary)</li>
          <li>Performing arithmetic calculations</li>
          <li>Formatting custom output using variables</li>
        </ul>

        <hr />

        <h3>Challenge Tasks</h3>

        <ol>
          <li>
            Create a console application named <strong
              >MiKmCalculator-LastName</strong
            >
          </li>
          <li>
            Complete the following tasks:
            <ul>
              <li>Prompt the user to enter a distance in miles.</li>
              <li>
                Convert the miles value from the user to the equivalent value in
                Kilometers.
              </li>
              <li>
                Formula: <strong class="text-skynest-cyan"
                  >Km = Mi &times; 1.609</strong
                >
              </li>
              <li>Optionally, round the answer to two decimal places.</li>
              <li>
                Display the calculated Kilometers value to the user in a clear
                and formatted manner.
              </li>
            </ul>
          </li>
        </ol>

        <h4>Sample Output</h4>

        <SampleOutput />
      </div>
    </div>
  </div>
</Layout>
