---
import { Code } from "astro-expressive-code/components";
import Divider from "../../components/ui/Divider.astro";
import ListItem from "../../components/ui/ListItem.astro";
import Layout from "../../layouts/Layout.astro";

//#region CodeSnippets
const SampleOutput = `
--- Fuel Calculator ---
How many miles are you traveling? 150 [Enter]
What is your vehicle's gas mileage (mpg)? 34 [Enter]
What is the current price of gas per gallon? $2.95 [Enter]

For your trip, you will need 4.4 gallons of gas costing $12.98 total.
`;
//#endregion
---

<Layout>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-10 mb-5">
        <section id="header">
          <a href="/code-challenges/" class="btn btn-sm btn-outline-light mb-3">
            <i class="si-arrow-left"></i> Back
          </a>

          <h2>Application 1.7 Fuel Calculator</h2>
        </section>

        <Divider variant="8" />

        <section id="objective">
          <h3>Objective</h3>

          <p>
            Create a console application that prompts the user to input the
            distance they plan to travel, their vehicle's miles per gallon
            (mpg), and the current price of gas per gallon. The program will
            then calculate and display the total amount of gas needed for the
            trip and the total cost.
          </p>

          <h4>Skills to Practice</h4>

          <ul>
            <ListItem>Prompting a user for input</ListItem>
            <ListItem>Converting input to the correct data type (if necessary)</ListItem>
            <ListItem>Performing arithmetic calculations</ListItem>
            <ListItem>Rounding decimal numbers</ListItem>
            <ListItem>Formatting output</ListItem>
          </ul>
        </section>

        <Divider variant="8" />

        <section id="tasks">
          <h3>Tasks</h3>
          <ul>
            <ListItem
              >Create a new project named <span class="text-skynest-theme"
                >1-7-fuel-calculator</span
              ></ListItem
            >
            <ListItem
              >Complete the following tasks:
              <ul>
                <ListItem variant="2">Prompt the user to input three pieces of data:
                  <ul>
                    <ListItem variant="3">distance</ListItem>
                    <ListItem variant="3">vehicle gas mileage</ListItem>
                    <ListItem variant="3">gas price per gallon</ListItem>
                  </ul>
                </ListItem>
                <ListItem variant="2">Use this information to calculate:
                  <ul>
                    <ListItem variant="3">Total gallons of gas needed</ListItem>
                    <ListItem variant="3">Total cost for the gas</ListItem>
                  </ul>
                </ListItem>
                <ListItem variant="2">Display the results in a clear format.</ListItem>
              </ul>
            </ListItem>
          </ul>
        </section>

        <Divider variant="8" />

        <section id="sample-output">
          <h3>Sample Output</h3>
          <Code
            code={SampleOutput}
            frame="terminal"
            title="Sample Output"
            lang="txt"
          />
        </section>

        <h1
          class="text-center mt-5 text-skynest-theme border border-primary slow-flash"
        >
          Begin Challenge
        </h1>
      </div>
    </div>
  </div>
</Layout>
