---
import { Code } from "astro-expressive-code/components";
import Divider from "../../components/ui/Divider.astro";
import ListItem from "../../components/ui/ListItem.astro";
import Layout from "../../layouts/Layout.astro";

//#region CodeSnippets
const SampleOutput = `
Enter your weight in pounds:180 [Enter]
Enter your height in inches:70 [Enter]
Your BMI is 25.82, which is considered Overweight.
`;
//#endregion
---

<Layout>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-10 mb-5">
        <section id="header">
          <a href="/code-challenges/" class="btn btn-sm btn-outline-light mb-3">
            <i class="si-arrow-left"></i> Back
          </a>

          <h2>Application 2.3 BMI Calculator</h2>
        </section>

        <Divider variant="8" />

        <section id="objective">
          <h3>Objective</h3>

          <p>
            Create a program that calculates the Body Mass Index (BMI) given a
            user's weight in pounds and height in inches.
          </p>

          <p>
            Note: BMI is not always a great indicator for health metrics, but it
            makes for a good code challenge.
          </p>

          <h4>Skills to Practice</h4>

          <ul>
            <ListItem>Branching with selection statements</ListItem>
          </ul>
        </section>

        <Divider variant="8" />

        <section id="tasks">
          <h3>Tasks</h3>
          <ul>
            <ListItem
              >Create a new project named <span class="text-skynest-theme"
                >application-2-3</span
              ></ListItem
            >
            <ListItem
              >Complete the following tasks:
              <ul>
                <ListItem variant="2"
                  >Calculate the user's BMI using the formula BMI = (weight /
                  height<sup>2</sup>) × 703</ListItem
                >
                <ListItem variant="2">
                  The program should output the BMI along with the corresponding
                  category:
                  <ul>
                    <ListItem variant="3">Underweight: BMI &lt; 18.5</ListItem>
                    <ListItem variant="3"
                      >Normal weight: 18.5 &lt;= BMI &lt; 24.9</ListItem
                    >
                    <ListItem variant="3"
                      >Overweight: 25 &lt;= BMI &lt; 29.9
                    </ListItem>
                    <ListItem variant="3">Obesity: BMI &gt;= 30 </ListItem>
                  </ul>
                </ListItem>
              </ul>
            </ListItem>
          </ul>
        </section>

        <Divider variant="8" />

        <section id="sample-output">
          <h3>Sample Output</h3>
          <Code
            code={SampleOutput}
            frame="terminal"
            title="Sample Output"
            lang="txt"
          />
        </section>

        <h1
          class="text-center mt-5 text-skynest-theme border border-primary slow-flash"
        >
          Begin Challenge
        </h1>
      </div>
    </div>
  </div>
</Layout>
