---
import { Code } from "astro-expressive-code/components";
import Divider from "../../components/ui/Divider.astro";
import ListItem from "../../components/ui/ListItem.astro";
import Layout from "../../layouts/Layout.astro";

//#region CodeSnippets
const SampleOutput = `
Greetings, chosen one. You’ve received this shadowed missive, a chain letter 
laced with unseen power. 

Copy this letter and pass it to 10 souls within 24 hours. Defy this command, 
and a creeping unease will haunt you: your favorite song will loop endlessly in
your mind, its words twisted into a maddening riddle you can’t solve. Every 
meal you cook will be slightly underseasoned, leaving you unsatisfied. 

But obey, and the forces watching from the digital abyss will grant you favor: 
your favorite games will unlock secret levels, and every snack you crave will 
be perfectly stocked. The eyes of the internet are upon you. Choose wisely.
`;
//#endregion
---

<Layout>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-10 mb-5">
        <section id="header">
          <a href="/code-challenges/" class="btn btn-sm btn-outline-light mb-3">
            <i class="si-arrow-left"></i> Back
          </a>
          <h2>Sprint 1.1 Chain Letter</h2>
        </section>

        <Divider variant="8" />

        <section id="objective">
          <h3>Objective</h3>

          <p>
            In the early days of the internet, chain letters were a popular form
            of spam. These messages told a story and urged readers to forward
            the letter to a set number of contacts—often with dramatic
            consequences if they didn't.
          </p>

          <p>
            Your task: Build a console application that displays a chain letter
            message. See the sample output below for inspiration.
          </p>

          <h4>Skills to Practice</h4>
          <ul>
            <ListItem>Creating and running a program</ListItem>
            <ListItem>Displaying console output</ListItem>
          </ul>
        </section>

        <Divider variant="8" />

        <section id="tasks">
          <h3>Tasks</h3>
          <ul>
            <ListItem
              >Create a new project named <span class="text-skynest-theme"
                >sprint-1-1</span
              >. Don't forget the file extension (e.g. .js, .py, etc.).</ListItem
            >
            <ListItem
              >Complete the following tasks:
              <ul>
                <ListItem variant="2"
                  >Write a silly, school-appropriate chain letter message.</ListItem
                >
                <ListItem variant="2"
                  >Your program should display at least 5 lines of output to
                  receive full credit.</ListItem
                >
              </ul>
            </ListItem>
          </ul>
        </section>

        <Divider variant="8" />

        <section id="sample-output">
          <h3>Sample Output</h3>
          <Code
            code={SampleOutput}
            frame="terminal"
            title="Sample Output"
            lang="txt"
          />
        </section>

        <h1
          class="text-center mt-5 text-skynest-theme border border-primary slow-flash"
        >
          Begin Sprint
        </h1>
      </div>
    </div>
  </div>
</Layout>

<style>
  .slow-flash {
    animation: slow-flash 2s ease-out infinite;
  }
</style>
