---
import { Code } from "astro-expressive-code/components";
import Divider from "../../components/ui/Divider.astro";
import ListItem from "../../components/ui/ListItem.astro";
import Layout from "../../layouts/Layout.astro";

//#region CodeSnippets
const SampleOutput = `
Name of item 1: Water Bottle [Enter]
Weight of Water Bottle (lbs): 1 [Enter]

Name of item 2: Laptop [Enter]
Weight of Laptop (lbs): 2 [Enter]

Name of item 3: Snack [Enter]
Weight of Snack (lbs): 0.25 [Enter]

- Weight -
Water Bottle: 1lbs
Laptop: 2lbs
Snack: 0.25lbs

Total weight: 3.25lbs
`;
//#endregion
---

<Layout>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-10 mb-5">
        <section id="header">
          <a href="/code-challenges/" class="btn btn-sm btn-outline-light mb-3">
            <i class="si-arrow-left"></i> Back
          </a>

          <h2>Sprint 1.6 Backpack Weight</h2>
        </section>

        <Divider variant="8" />

        <section id="objective">
          <h3>Objective</h3>

          <p>
            Ask the user to enter the weight of three items in their backpack.
            Display the total weight.
          </p>

          <h4>Skills to Practice</h4>

          <ul>
            <ListItem>Prompting a user for input</ListItem>
            <ListItem>Performing arithmetic</ListItem>
            <ListItem>Formatting text output</ListItem>
          </ul>
        </section>

        <Divider variant="8" />

        <section id="tasks">
          <h3>Tasks</h3>
          <ul>
            <ListItem
              >Create a new project named <span class="text-skynest-theme"
                >sprint-1-6</span
              ></ListItem
            >
            <ListItem
              >Complete the following tasks:
              <ul>
                <ListItem variant="2"
                  >Prompt the user for three backpack items and their
                  corresponding weight.</ListItem
                >
                <ListItem variant="2"
                  >Note that once the item name is given, its name is used in
                  the following prompt for its weight.</ListItem
                >
                <ListItem variant="2">Display the total weight.</ListItem>
              </ul>
            </ListItem>
          </ul>
        </section>

        <Divider variant="8" />

        <section id="sample-output">
          <h3>Sample Output</h3>
          <Code
            code={SampleOutput}
            frame="terminal"
            title="Sample Output"
            lang="txt"
          />
        </section>

        <h1
          class="text-center mt-5 text-skynest-theme border border-primary slow-flash"
        >
          Begin Sprint
        </h1>
      </div>
    </div>
  </div>
</Layout>
