---
import { Code } from "astro-expressive-code/components";
import Divider from "../../components/ui/Divider.astro";
import ListItem from "../../components/ui/ListItem.astro";
import Layout from "../../layouts/Layout.astro";

//#region CodeSnippets
const SampleOutput = `
Enter the hours value: 9 [Enter]
Enter the minutes value: 30 [Enter]
Enter AM or PM: AM [Enter]

Time: 9:30 AM
`;
//#endregion
---

<Layout>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-10 mb-5">
        <section id="header">
          <a href="/code-challenges/" class="btn btn-sm btn-outline-light mb-3">
            <i class="si-arrow-left"></i> Back
          </a>

          <h2>Sprint 1.4 Display Clock</h2>
        </section>

        <Divider variant="8" />

        <section id="objective">
          <h3>Objective</h3>

          <p>
            Build a console program that asks the user to enter an hour, a
            minute, and whether it's AM or PM.
          </p>

          <p>
            Then, format and display the time in a clear, readable way—just like
            a digital clock.
          </p>

          <h4>Skills to Practice</h4>

          <ul>
            <ListItem>Prompting a user for input</ListItem>
            <ListItem>Formatting text output</ListItem>
          </ul>
        </section>

        <Divider variant="8" />

        <section id="tasks">
          <h3>Tasks</h3>
          <ul>
            <ListItem
              >Create a new project named <span class="text-skynest-theme"
                >sprint-1-4</span
              ></ListItem
            >
            <ListItem
              >Complete the following tasks:
              <ul>
                <ListItem variant="2"
                  >Ask the user to enter:
                  <ul>
                    <ListItem variant="3">Hours</ListItem>
                    <ListItem variant="3">Minutes</ListItem>
                    <ListItem variant="3">AM or PM</ListItem>
                  </ul>
                </ListItem>
                <ListItem variant="2"
                  >Display the formatted time clearly in the console</ListItem
                >
              </ul>
            </ListItem>
          </ul>
        </section>

        <Divider variant="8" />

        <section id="sample-output">
          <h3>Sample Output</h3>
          <Code
            code={SampleOutput}
            frame="terminal"
            title="Sample Output"
            lang="txt"
          />
        </section>

        <h1
          class="text-center mt-5 text-skynest-theme border border-primary slow-flash"
        >
          Begin Sprint
        </h1>
      </div>
    </div>
  </div>
</Layout>

<style>
  .slow-flash {
    animation: slow-flash 2s ease-out infinite;
  }
</style>
