---
import { Code } from "astro-expressive-code/components";
import Divider from "../../components/ui/Divider.astro";
import ListItem from "../../components/ui/ListItem.astro";
import Layout from "../../layouts/Layout.astro";

//#region CodeSnippets
const SampleOutput = `
  XXXX    XX  XX  XXXXXX    XXXX
XX    XX  XX  XX    XX    XX    XX
XX    XX  XXXXXX    XX    XX    XX
XX    XX  XX  XX    XX    XX    XX
  XXXX    XX  XX  XXXXXX    XXXX
`;
//#endregion
---

<Layout>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-10 mb-5">
        <section id="header">
          <a href="/code-challenges/" class="btn btn-sm btn-outline-light mb-3">
            <i class="si-arrow-left"></i> Back
          </a>
          <h2>Sprint 1.2 Letter Art</h2>
        </section>

        <Divider variant="8" />

        <section id="objective">
          <h3>Objective</h3>

          <p>
            In this sprint, you'll create a simple console program that displays
            a piece of ASCII-style art. This challenge focuses on practicing
            basic output formatting using text characters.
          </p>

          <h4>Skills to Practice</h4>
          <ul>
            <ListItem>Creating and running a program</ListItem>
            <ListItem>Displaying console output</ListItem>
          </ul>
        </section>

        <Divider variant="8" />

        <section id="tasks">
          <h3>Tasks</h3>
          <ul>
            <ListItem>Create a new project named <span class="text-skynest-theme">sprint-1-2</span>. Don't forget the file extension (e.g. .js, .java. .py).</ListItem>
            <ListItem
              >Complete the following tasks:
              <ul>
                <ListItem variant="2"
                  >Write a function that displays a word or message as simple
                  letter art. Use the sample below to guide your formatting.</ListItem
                >
              </ul>
            </ListItem>
          </ul>
        </section>

        <Divider variant="8" />

        <section id="sample-output">
          <h4>Sample Output</h4>
          <Code
            code={SampleOutput}
            frame="terminal"
            title="Sample Output"
            lang="txt"
          />
        </section>

        <h1
          class="text-center mt-5 text-skynest-theme border border-primary slow-flash"
        >
          Begin Sprint
        </h1>
      </div>
    </div>
  </div>
</Layout>

<style>
  .slow-flash {
    animation: slow-flash 2s ease-out infinite;
  }
</style>
