---
import { Code } from "astro-expressive-code/components";
import Divider from "../../components/ui/Divider.astro";
import ListItem from "../../components/ui/ListItem.astro";
import Layout from "../../layouts/Layout.astro";

//#region CodeSnippets
const SampleOutput = `
Enter yout height in inches: 70 [Enter]
Your height is 5 feet 10 inches.
`;
//#endregion
---

<Layout>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-10 mb-5">
        <section id="header">
          <a href="/code-challenges/" class="btn btn-sm btn-outline-light mb-3">
            <i class="si-arrow-left"></i> Back
          </a>

          <h2>Sprint 1.8 Height Converter</h2>
        </section>

        <Divider variant="8" />

        <section id="objective">
          <h3>Objective</h3>

          <p>
            Write a program that converts a given height from inches to feet and
            inches.
          </p>

          <p>
            <b>Example:</b> If the user inputs 70 inches, your program should display:
            5 feet 10 inches.
          </p>

          <h4>Skills to Practice</h4>

          <ul>
            <ListItem>Prompting a user for input</ListItem>
            <ListItem>Performing arithmetic with division operators.</ListItem>
            <ListItem>Formatting custom output using variables</ListItem>
          </ul>
        </section>

        <Divider variant="8" />

        <section id="tasks">
          <h3>Tasks</h3>
          <ul>
            <ListItem
              >Create a new project named <span class="text-skynest-theme"
                >sprint-1-8</span
              ></ListItem
            >
            <ListItem
              >Complete the following tasks:
              <ul>
                <ListItem variant="2"
                  >Prompt the user to input their height in inches.</ListItem
                >
                <ListItem variant="2"
                  >Convert the height to feet and inches.</ListItem
                >
                <ListItem variant="2"
                  >Display the result in the format: "X feet Y inches.</ListItem
                >
              </ul>
            </ListItem>
          </ul>
        </section>

        <Divider variant="8" />

        <section id="sample-output">
          <h3>Sample Output</h3>
          <Code
            code={SampleOutput}
            frame="terminal"
            title="Sample Output"
            lang="txt"
          />
        </section>

        <h1
          class="text-center mt-5 text-skynest-theme border border-primary slow-flash"
        >
          Begin Sprint
        </h1>
      </div>
    </div>
  </div>
</Layout>
