---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="bg-darker py-5">
        <h1 class="text-center">About Skynest</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium fugiat impedit ex quae magni laudantium animi voluptas nobis libero earum totam est, rem doloribus odio debitis similique dicta unde natus?</p>
    </div>
    <div>
        <h2>E-Waste Program</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ipsum debitis dolorem fuga consectetur vitae repellendus mollitia sint. Quia autem, praesentium ipsa nihil ad nostrum sint deserunt possimus laborum corrupti!</p>
    </div>
    <div>
        <h2>SkyNest TV</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat sequi quod commodi amet iste, velit, reiciendis totam exercitationem facere quibusdam dolorem cumque quasi. Nisi recusandae atque, accusamus totam perspiciatis voluptate.</p>
    </div>
    <div>
        <h2>Game Servers</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat sequi quod commodi amet iste, velit, reiciendis totam exercitationem facere quibusdam dolorem cumque quasi. Nisi recusandae atque, accusamus totam perspiciatis voluptate.</p>
    </div>
</Layout>