---
import Divider from "../components/ui/Divider.astro";
import ListItem from "../components/ui/ListItem.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import t800EagleFront from "../assets/img/t-800-eagle-front.png";
---

<Layout>
  <section
    id="header"
    class="container-fluid bg-skynest-darker py-5 bottom-shadow"
  >
    <div class="p-5">
      <a href="/" class="btn btn-sm btn-outline-light"
        ><i class="si-arrow-left"></i> Back</a
      >
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-8 text-center">
        <Image
          src={t800EagleFront}
          alt="T-800 Eagle"
          class="rounded-5"
          width={256}
        />
        <h1 class="text-skynest-red mt-5">Skynest Club</h1>
        <h2 class="mb-5">
          Community Period <span class="text-skynest-red">E</span> Room L4
        </h2>
      </div>
    </div>
  </section>
  <section id="content" class="container py-5">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-6 mb-3">
        <div class="card card-red h-100">
          <div class="card-body">
            <h3 class="text-center">Command Units</h3>
            <ul>
              <ListItem
                ><span class="text-skynest-red"><b>AI Overlord</b></span> - Mr. Mortimer</ListItem
              >
              <ListItem
                ><b>PC Refurbishing:</b>
                Sebastian H.</ListItem
              >
              <ListItem
                ><b>Electronics Repair:</b>
                <span class="text-skynest-red">-</span></ListItem
              >
              <ListItem
                ><b>Game Server:</b>
                Henry A.</ListItem
              >
              <ListItem
                ><b>SkyNest TV:</b>
                <span class="text-skynest-red">-</span></ListItem
              >
              <ListItem
                ><b>Tournaments:</b>
                Matt H, Dean K</ListItem
              >
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 mb-3">
        <div class="card card-red h-100">
          <div class="card-body">
            <h3 class="text-center">Ground Units</h3>
            <ul class="overflow-auto" style="height: 10rem;">
              <ListItem variant="3">Caleb Alicea</ListItem>
              <ListItem variant="3">Henry Ashcraft</ListItem>
              <ListItem variant="3">Samuel Chen</ListItem>
              <ListItem variant="3">Cameron Evans</ListItem>
              <ListItem variant="3">Sebastian Haikal</ListItem>
              <ListItem variant="3">Matthew Hollingsworth</ListItem>
              <ListItem variant="3">Richard Hudgins</ListItem>
              <ListItem variant="3">Anthony Karas</ListItem>
              <ListItem variant="3">Blake Karas</ListItem>
              <ListItem variant="3">Iyaaz Khan</ListItem>
              <ListItem variant="3">Darian Lindsey Jr</ListItem>
              <ListItem variant="3">Logan Lowry</ListItem>
              <ListItem variant="3">Tavion McKinley</ListItem>
              <ListItem variant="3">James Mendoza</ListItem>
              <ListItem variant="3">Alexander Mezquita</ListItem>
              <ListItem variant="3">Tyree Morton</ListItem>
              <ListItem variant="3">Luke Pawlak</ListItem>
              <ListItem variant="3">Daron Payne</ListItem>
              <ListItem variant="3">Santiago Pereira</ListItem>
              <ListItem variant="3">Jadiel Pietri</ListItem>
              <ListItem variant="3">Dean Rabic</ListItem>
              <ListItem variant="3">Noah Ratchford</ListItem>
              <ListItem variant="3">Cristian Scott-Dale</ListItem>
              <ListItem variant="3">Evan Smith</ListItem>
              <ListItem variant="3">Jackson Stephan</ListItem>
              <ListItem variant="3">Emanuel Tavarez</ListItem>
              <ListItem variant="3">Tommy Tipka</ListItem>
              <ListItem variant="3">Link Tulett</ListItem>
              <ListItem variant="3">Vinicio Valenzuela</ListItem>
              <ListItem variant="3">Johnny Zaccardelli</ListItem>
            </ul>
            <p class="text-center fs-4">
              <a
                href="https://forms.gle/crkyqqQ36s8GE9nP9"
                target="_blank"
                class="text-skynest-red"
                ><i class="si-link"></i> New Member Form
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <Divider variant="5" classes="my-5" />

    <section id="pc-refurb">
      <h3 class="text-center">Refurbished PC Donation Form</h3>

      <p><strong>Eligibility Requirements:</strong></p>
      <ol>
        <li>
          This program is intended for students who have never had the
          opportunity to own their own computer. However, You can be put on a
          waitlist if there are extra PCs available.
        </li>
        <li>
          You must be willing to participate in the refurbishing process for
          your computer. This is a learning experience about maintaining your
          own computer equipment.
        </li>
      </ol>

      <p class="text-center fs-4">
        <a
          href="https://forms.gle/E8NcLb54Zm3krRib6"
          target="_blank"
          class="text-skynest-red"
          ><i class="si-link"></i> Request a PC for refurbishing
        </a>
      </p>

      <p class="text-center fs-4">
        <a
          href="https://docs.google.com/document/d/e/2PACX-1vR6ARDVT04Cy7qTl8t6hiJElLAiqXxD6pkt3P_0fL19yKxXwwBGXjRjMWwCSQZjurKVCLewIPZoWPZg/pub"
          target="_blank"
          class="text-skynest-red"
          ><i class="si-link"></i> PC Refurbishing Guide
        </a>
      </p>
    </section>

    <Divider variant="5" classes="my-5" />

    <h3 class="text-center">News and Updates</h3>

    <div class="row justify-content-center">
      <div class="col-sm-12">
        <ul>
          <ListItem>
            9/1/26 - SkyNest TV is heading to the <a
              href="https://www.gamecleveland.com/"
              target="_blank"
              ><i class="si-link"></i> Cleveland Gaming Classic</a
            >. We will be attending on Sunday September, 21st.</ListItem
          >
          <ListItem
            >8/29/26 - Our first meeting was held today. If you missed it and
            would like to sign up, click the 'New Member Form' link above.</ListItem
          >
        </ul>
      </div>
    </div>

    <Divider variant="5" classes="my-5" />

    <h3 class="text-center">Task Board</h3>

    <p class="text-center fs-4">
      <a
        href="https://forms.gle/kfNeDDayStLg29zJA"
        target="_blank"
        class="text-skynest-red"
        ><i class="si-link"></i> Submit an idea or task
      </a>
    </p>

    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-6 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="text-center">PC Refurbishing</h4>
            <ul>
              <ListItem>Work on batch 01 (Distributed 9/18)</ListItem>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="text-center">Electronics Repair</h4>
            <ul>
              <ListItem><s>Xavier PC PSU</s></ListItem>
              <ListItem>Daron PS2 refurbish</ListItem>
              <ListItem
                >Classroom Wii 1
                <ul>
                  <ListItem variant="2">New Disc Drive</ListItem>
                  <ListItem variant="2">Soft mod</ListItem>
                </ul>
              </ListItem>
              <ListItem
                >Classroom Wii 2
                <ul>
                  <ListItem variant="2">Fix dim display</ListItem>
                  <ListItem variant="2">Soft mod</ListItem>
                </ul>
              </ListItem>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="text-center">Game Server</h4>
            <ul>
              <ListItem><s>Clean Linux install</s></ListItem>
              <ListItem>Upgrade RAM</ListItem>
              <ListItem>Plan Minecraft server</ListItem>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="text-center">SkyNest TV</h4>
            <ul>
              <ListItem>Create show opening</ListItem>
              <ListItem>Prep for ep. 1 - CGC</ListItem>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="text-center">Tournaments</h4>
            <ul>
              <ListItem
                >Prep for tournament 1 (Wii game)
                <ul>
                  <ListItem>Poll Form</ListItem>
                  <ListItem>Flyers</ListItem>
                  <ListItem>SkyNest TV episode</ListItem>
                  <ListItem>Google Form</ListItem>
                  <ListItem>Choose bracket software</ListItem>
                </ul>
              </ListItem>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Terminator";
  }

  .card-red {
    border-color: var(--skynest-red);
  }

  .bottom-shadow {
    border-bottom: solid 1px var(--syknest-red);
    box-shadow: 0 0 10px var(--skynest-red);
  }
</style>
