---
import Layout from "../../../layouts/Layout.astro";

import GetTheEdgeIcon from "../../../assets/courses/get-the-edge/img/get-the-edge-icon.svg";
---

<Layout>
  <div class="mb-3 bg-sn-darker bottom-shadow">
    <div class="p-5">
      <a href="/#course-content" class="btn btn-sm btn-outline-light"
        ><i class="si-arrow-left"></i> Back</a
      >
    </div>
    <div class="container pb-5">
      <div class="text-center">
        <h1>Build a Gaming PC - Get the Edge</h1>
        <GetTheEdgeIcon width={128} />
      </div>
    </div>
  </div>

  <div class="container">
    <h2>Lessons</h2>
    <p><a href="./session-1">Session 01: Introduction</a></p>
    <p><a href="./session-2">Session 02: CPUs and Motherboards</a></p>
    <p><a href="./session-3">Session 03: Primary and Secondary Memory</a></p>
    <p><a href="./session-4">Session 04: Cases</a></p>
    <p><a href="./session-5">Session 05: GPUs and PSUs</a></p>
    <p><a href="./session-6">Session 06: Benchmarking</a></p>
    <p><a href="./session-7">Session 07: Shopping for Parts</a></p>
  </div>
</Layout>
