---
import { Image } from "astro:assets";
import Presentation from "../../../components/Presentation.astro";
import Divider from "../../../components/ui/Divider.astro";
import Layout from "../../../layouts/Layout.astro";
import ListItem from "../../../components/ui/ListItem.astro";

import WarningSign from "../../../assets/courses/get-the-edge/img/warning-sign.svg";
---

<Layout>
  <div class="container my-4">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-10">
        <a href="./" class="btn btn-sm btn-outline-light mb-3">
          <i class="si-arrow-left"></i> Back
        </a>

        <h1>Session 02: Introduction</h1>
        <Divider variant="8" classes="mb-5" />

        <!-- Launch / Concept -->
        <section id="launch">
          <Presentation>
            <section>
              <h2>Session 02</h2>
              <h3 class="text-sn-theme">CPUs and Motherboards</h3>
            </section>

            <section>
              <h2>Agenda</h2>
              <ul>
                <ListItem>About me</ListItem>
                <ListItem className="fragment"></ListItem>
              </ul>
            </section>
          </Presentation>
        </section>
      </div>
    </div>
  </div>
</Layout>
