---
import { Image } from "astro:assets";
import Presentation from "../../../components/Presentation.astro";
import Divider from "../../../components/ui/Divider.astro";
import Layout from "../../../layouts/Layout.astro";
import ListItem from "../../../components/ui/ListItem.astro";
---

<Layout>
  <div class="container my-4">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-10">
        <a
          href="/courses/get-the-edge/"
          class="btn btn-sm btn-outline-light mb-3"
        >
          <i class="si-arrow-left"></i> Back
        </a>

        <h1>Session 04: Cases</h1>
        <Divider variant="8" classes="mb-5" />

        <!-- Launch / Concept -->
        <section id="launch">
          <iframe
            src="https://docs.google.com/presentation/d/e/2PACX-1vRanEhVkqDChwcSeODlJiGXViHyKVD3MKSBK5b20PDykvvv_FSBltcXBel_V1x0nvI-itk_bJa7W6vi/pubembed?start=false&loop=false&delayms=60000"
            width="960"
            height="569"
            allowfullscreen="true"></iframe>
        </section>
      </div>
    </div>
  </div>
</Layout>
