---
import Presentation from "../../components/Presentation.astro";
import Divider from "../../components/ui/Divider.astro";
import Layout from "../../layouts/Layout.astro";
import { Code } from "astro-expressive-code/components";
---

<Layout>
  <div class="container my-4">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-10">
        <a href="/java-programming/" class="btn btn-sm btn-outline-light mb-3">
          <i class="si-arrow-left"></i> Back
        </a>

        <h1>Activity 1.1 Computer Hardware and Software</h1>
        <Divider variant="8" classes="mb-4" />

        <Presentation>
          <section>
            <h3>Activity 1.1</h3>
            <h4 class="text-skynest-theme">
              Computer Hardware and Software
            </h4>
          </section>
        </Presentation>
      </div>
    </div>
  </div>
</Layout>
