---
import Layout from "../../layouts/Layout.astro";
import ListItem from "../../components/ui/ListItem.astro";

import ApCspIcon from "../../assets/courses/ap-csp/img/ap-csp-icon.svg";
---

<Layout>
  <div class="py-5 mb-3 bg-skynest-darker bottom-shadow">
    <div class="p-5">
      <a href="/" class="btn btn-sm btn-outline-light"
        ><i class="si-arrow-left"></i> Back</a
      >
    </div>
    <div class="container pb-5">
      <div class="text-center">
        <h1>AP Computer Science Principles</h1>
        <ApCspIcon width={128} height={128} />
      </div>
    </div>
  </div>

  <div class="container">
    <h3>Course Content</h3>
    <div class="accordion mb-5" id="courseAccordion">
      <!-- Module 1 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="true"
            aria-controls="flush-collapseOne"
          >
            Module 1 - Computer Organization
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="accordion-collapse collapse"
          data-bs-parent="#courseAccordion"
        >
          <div class="accordion-body">
            <ListItem><a href="./1-1-hardware-software">Activity 1.1 Computer Hardware and Software</a></ListItem>
            <ListItem><a href="./1-2-bin-dec-practice-1">Activity 1.2 Binary to Decimal Practice 1</a></ListItem>
            <ListItem><a href="./1-3-bin-dec-practice-2">Activity 1.3 Binary to Decimal Practice 2</a></ListItem>
            <ListItem><a href="./1-4-bin-dec-practice-3">Activity 1.4 Binary to Decimal Practice 3</a></ListItem>
            <ListItem><a href="./1-5-dec-bin-practice-1">Activity 1.5 Decimal to Binary Practice 1</a></ListItem>
            <ListItem><a href="./1-6-dec-bin-practice-2">Activity 1.6 Decimal to Binary Practice 2</a></ListItem>
            <ListItem><a href="./1-7-dec-bin-practice-3">Activity 1.7 Decimal to Binary Practice 3</a></ListItem>
            <ListItem><a href="./1-8-hex-bin-practice-1">Activity 1.8 Hexadecimal to Binary Practice 1</a></ListItem>
            <ListItem><a href="./1-9-hex-bin-practice-2">Activity 1.9 Hexadecimal to Binary Practice 2</a></ListItem>
            <ListItem><a href="./1-10-bin-hex-practice">Activity 1.10 Binary to Hexdecimal Practice</a></ListItem>
            <ListItem><a href="./1-11-text-representation">Activity 1.11 Text Representation</a></ListItem>
            <ListItem><a href="./1-12-color-representation">Activity 1.12 Color Representation</a></ListItem>
            <ListItem><a href="./1-13-counting-numbers">Activity 1.13 Counting Numbers</a></ListItem>
          </div>
        </div>
      </div>
      <!-- Module 2 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo"
            aria-expanded="false"
            aria-controls="flush-collapseTwo"
          >
            Module 2 - Create Performance Task
          </button>
        </h2>
        <div
          id="flush-collapseTwo"
          class="accordion-collapse collapse"
          data-bs-parent="#courseAccordion"
        >
          <div class="accordion-body">
            <ListItem><a href="./2-1">Performance Task Requirements</a></ListItem>
            <ListItem><a href="./2-2">Performance Task Checklist</a></ListItem>
            <ListItem><a href="./2-3">AI Feedback Prompts</a></ListItem>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
