---
import Presentation from "../../components/Presentation.astro";
import Divider from "../../components/ui/Divider.astro";
import ListItem from "../../components/ui/ListItem.astro";
import Layout from "../../layouts/Layout.astro";
import { Code } from "astro-expressive-code/components";

const Task1 = `
console.log("Hello, world!");
console.log("This class is taught by Mr. Mortimer.");
console.log("You are currently visiting: https://skynest.nexus");
console.log(); // Display a blank line
`;
const Task2 = `
console.log("Hello, world!");
console.log("This class is taught by Mr. Mortimer.");
console.log("You are currently visiting: https://sehs.io");
console.log(); // Display a blank line

console.log("What is the answer to life, the universe, and everything?");
console.log("The answer is 42.");
console.log();

console.log("Sally sells seashells by the seashore.");
console.log("Sally wants to invite you to invest in a money making opportunity.");
console.log();

console.log("If you start to feel overwhelmed, just remember:");
console.log("Mortimers don't quit, we get fired!");
console.log();
console.log();

console.log("Sincerely,");
console.log("Mr. Mortimer");

// console.log();
// console.log("Display this message for 1 extra credit point");
`;
const SampleOutput = `
Hello, world!
This class is taught by Mr. Mortimer.
You are currently visiting: https://skynest.nexus

What is the answer to life, the universe, and everything?
The answer is 42.

Sally sells seashells by the seashore.
Sally wants to invite you to invest in a money making opportunity.

If you start to feel overwhelmed, just remember:
Mortimers don't quit, we get fired!


Sincerely,
Mr. Mortimer

Display this message for 1 extra credit point


I also accept the following items for extra credit:
1. Expired mayonaise
2. A preserved eyeball
3. A VHS tape of a movie that nobody has heard of
`;
---

<Layout>
    <div class="container my-4">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-10">
                <a
                    href="/js-programming/"
                    class="btn btn-sm btn-outline-light mb-3"
                >
                    <i class="si-arrow-left"></i> Back
                </a>

                <h1>Activity 1.1 Hello World!</h1>
                <Divider variant="8" classes="mb-4" />

                <!-- Introduction -->
                <h2>Introduction</h2>

                <p>
                    In this lesson, you will learn about output in programming.
                    For console applications, <strong>output</strong> refers to information
                    displayed to the user. However, the meaning of output can vary
                    depending on the context. To output information to the user,
                    we use the <code>console.log()</code>
                    function.
                </p>

                <p>
                    The <code>console.log()</code> function is a fundamental concept
                    in programming.
                    <strong>Functions</strong> perform specific actions, and in this
                    case,
                    <code>console.log()</code>
                    outputs a message to the user via the console. The console is
                    a simple terminal for running text-based computer applications.
                    Most of the introductory applications in these programming activities
                    will be console-based.
                </p>

                <p>
                    Additionally, we will learn how to write comments in
                    JavaScript.
                    <strong>Comments</strong> serve two main purposes: documenting
                    your code and temporarily disabling parts of your program for
                    testing. As we progress, our programs will grow in size and complexity.
                    It's crucial to document your code to ensure it is easily understood
                    and maintainable by yourself and your team. In JavaScript, comments
                    begin with the <code>#</code> symbol.
                </p>

                <h3>Objectives</h3>
                <ul>
                    <ListItem variant="1">Writing and executing code</ListItem>
                    <ListItem variant="1">Displaying console output</ListItem>
                    <ListItem variant="1"
                        >Debugging potential syntax errors</ListItem
                    >
                    <ListItem variant="1">Reading comments</ListItem>
                </ul>

                <Divider variant="8" classes="mb-4" />

                <!-- Activity Tasks -->
                <h2>Activity Tasks</h2>
                <ul>
                    <ListItem variant="2">
                        Create a new JavaScript script named <span
                            class="text-skynest-theme">1-1-output.js</span
                        >.
                    </ListItem>
                    <ListItem variant="2">
                        Complete each task individually.
                    </ListItem>
                </ul>

                <!-- Task 1 -->
                <h3>
                    <span class="text-skynest-theme">Task 1</span>: Write and
                    Test
                </h3>
                <ul>
                    <ListItem variant="2">
                        Write each line of code from the section making sure to
                        stay within the main method.
                    </ListItem>
                    <ListItem variant="2">
                        Run and test your project to ensure it executes as
                        intended.
                    </ListItem>
                </ul>
                <Code
                    code={Task1}
                    frame="code"
                    lang="javascript"
                    showLineNumbers
                    title="1-1-output.js"
                />

                <hr class="my-4" />

                <!-- Task 2 -->
                <h3>
                    <span class="text-skynest-theme">Task 2</span>: Add More
                    Code
                </h3>
                <ul>
                    <ListItem variant="2">
                        Write the additional sections of output under your
                        current code.
                    </ListItem>
                    <ListItem variant="2">
                        Run and test your project to ensure it executes as
                        intended.
                    </ListItem>
                </ul>
                <Code
                    code={Task2}
                    frame="code"
                    lang="javascript"
                    ins={{ range: "5-23" }}
                    showLineNumbers
                    title="1-1-output.js"
                />

                <hr class="my-4" />

                <!-- Task 3 -->
                <h3>
                    <span class="text-skynest-theme">Task 3</span>: Write a
                    Custom Section
                </h3>
                <ul>
                    <ListItem variant="2">
                        Output a three-line paragraph of your choice somewhere
                        in the program. Keep it school appropriate.
                    </ListItem>
                    <ListItem variant="2">
                        Run and test your project to ensure it executes as
                        intended.
                    </ListItem>
                </ul>

                <hr class="my-4" />

                <!-- Task 4 -->
                <h3>
                    <span class="text-skynest-theme">Task 4</span>: Comments
                </h3>
                <ul>
                    <ListItem variant="2">
                        There is a section of code that is 'commented out'.
                        Uncomment the code so that it executes when your program
                        runs.
                    </ListItem>
                    <ListItem variant="2">
                        Run and test your project to ensure it executes as
                        intended.
                    </ListItem>
                </ul>
                <!-- End Activity Tasks -->

                <Divider variant="8" classes="my-4" />

                <h2>Sample Output</h2>

                <p>
                    Your program output should something similar to the sample
                    output below.
                </p>

                <Code
                    code={SampleOutput}
                    frame="terminal"
                    lang="javascript"
                    mark={{label: "My Custom Section (Yours should look different)", range: "20" }}
                    showLineNumbers={false}
                    title="Sample Output"
                />

                <Divider variant="8" classes="my-4" />

                <h2>Reflection Questions</h2>

                <p>
                    You may write your reflection answers as comments at the
                    bottom of your code.
                </p>

                <ol>
                    <li>
                        What is the primary function of <code
                            >console.log()</code
                        >? How does it relate to the idea of a program
                        "speaking" to a user?
                    </li>
                    <li>
                        Imagine you typed <code
                            ><span class="text-skynest-red">Cosnol</span
                            >.log()</code
                        > by mistake. What do you think would happen when you try
                        to run your program? Why is correct spelling so important
                        in programming?
                    </li>
                    <li>
                        What was the most challenging part of writing your first
                        line of code?
                    </li>
                </ol>

                <Divider variant="8" classes="my-4" />

                <h2>Submission</h2>

                <p>
                    Submit your activity and reflection answers to the
                    appropriate dropbox.
                </p>

                <h1
                    class="text-center mt-5 text-skynest-theme border border-primary"
                >
                    Activity Complete
                </h1>
            </div>
        </div>
    </div>
</Layout>
