---
import Layout from "../../../layouts/Layout.astro";
import ListItem from "../../../components/ui/ListItem.astro";

import FoCEIcon from "../../../assets/courses/foce/img/foce-icon.svg";
---

<Layout>
  <div class="py-5 mb-3 bg-sn-darker bottom-shadow">
    <div class="p-5">
      <a href="/#course-content" class="btn btn-sm btn-outline-light"
        ><i class="si-arrow-left"></i> Back</a
      >
    </div>
    <div class="container pb-5">
      <div class="text-center">
        <h1>Fundamentals of Computer Engineering</h1>
        <FoCEIcon width={128} height={128} />
      </div>
    </div>
  </div>

  <div class="container">
    <h3>Course Content</h3>
    <div class="accordion mb-5" id="courseAccordion">
      <!-- Unit 1 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="true"
            aria-controls="flush-collapseOne"
          >
            Unit 1: Computational Thinking
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="accordion-collapse collapse"
          data-bs-parent="#courseAccordion"
        >
          <div class="accordion-body">
            <ListItem><a href="./1-1">Activity 1.1: Computer Architecture</a></ListItem>
            <ListItem><a href="./1-2">Activity 1.2: Console Output</a></ListItem>
            <ListItem><a href="./cc-chain-letter">Code Challenge: Chain Letter</a></ListItem>
            <ListItem><a href="./cc-mail-call">Code Challenge: Mail Call</a></ListItem>
            <ListItem><a href="./cc-ascii-art">Code Challenge: ASCII Art</a></ListItem>
            <ListItem><a href="./1-3">Activity 1.3: Variables and Data Types</a></ListItem>
            <ListItem><a href="./1-4">Activity 1.4: Arithmetic Operations</a></ListItem>
            <ListItem><a href="./1-5">Activity 1.5: Variable Reassignment</a></ListItem>
            <ListItem><a href="./1-6">Activity 1.6: String Interpolation</a></ListItem>
            <ListItem><a href="./1-7">Activity 1.7: Console Input</a></ListItem>
            <ListItem><a href="./1-8">Activity 1.8: Console Input and Type Casting</a></ListItem>
          </div>
        </div>
      </div>
      <!-- Unit 2 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo"
            aria-expanded="false"
            aria-controls="flush-collapseTwo"
          >
            Unit 2: Physical Computing
          </button>
        </h2>
        <div
          id="flush-collapseTwo"
          class="accordion-collapse collapse"
          data-bs-parent="#courseAccordion"
        >
          <div class="accordion-body">
            <ListItem><a href="./TBD">TBD</a></ListItem>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
