---
import Layout from "../../../layouts/Layout.astro";

import RubyProgrammingIcon from "../../../assets/courses/ruby-programming/img/ruby-programming-icon.svg";
---

<Layout>
  <div class="mb-3 bg-sn-darker bottom-shadow">
    <div class="p-5">
      <a href="/#course-content" class="btn btn-sm btn-outline-light"
        ><i class="si-arrow-left"></i> Back</a
      >
    </div>
    <div class="container pb-5">
      <div class="text-center">
        <h1>Ruby Programming Fundamentals</h1>
        <RubyProgrammingIcon width={128} />
      </div>
    </div>
  </div>

  <div class="container">
    <h2 class="text-center my-5 slow-flash">Coming when it's ready</h2>
  </div>
</Layout>
